<section ng-controller="HomeController">
  <div class="jumbotron text-center hero">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <!-- <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" /> -->
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">Organize and Track your Job Applications all in one place</p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-raised btn-warning" href="/authentication/signup">Get Started</a>
      </p>
    </div>
  </div>
  <div>
    <!-- <h2>Congrats! You've configured and run the sample application.</h2>
    <p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> to get started.
      </li>
      <li>
        Configure your app to work with your social accounts, by editing the
        <em>/config/env/*.js</em> files.
      </li>
      <li>
        Edit your users module.
      </li>
      <li>
        Add new CRUD modules.
      </li>
      <li>
        Have fun...
      </li>
    </ul> -->
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Track Your Job Prospects</h2>
      <p>Tired of copying and pasting links and job descriptions? We can help!</p>
    </div>
    <div class="col-md-3">
      <h2>Get easy access to your job info</h2>
      <p>No matter where, as long as you have web access, you have a trusted singular point of reference for all your job seeking information.</p>
    </div>
    <div class="col-md-3">
      <h2>Take your notes to the interview</h2>
      <p>Go into that interview extremely prepared with the ease Bacon provides.</p>
    </div>
    <div class="col-md-3">
      <h2>Bring home the Bacon</h2>
      <p>Ultimately, you are not seeking massive quantities of pork belly fat. You are looking to maximize you position on the pay scale.</p>
    </div>
  </div>
  <!-- <div class="well">
    <h2>MEAN.JS Documentation</h2>
    <p>
      Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
      <ul>
        <li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
        </li> -->
        <!-- <li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li> -->
        <!-- <li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
        </li>
        <li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
        </li>
        <li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
        </li>
      </ul>
    </p>
  </div>
  <br>Enjoy &amp; Keep Us Updated,
  <br>The MEAN.JS Team. -->
</section>
