<section>
  <div class="page-header">
    <h1>{{vm.job._id ? 'Edit Job' : 'New Job'}}</h1>
  </div>
  <div>
    <form name="vm.form.jobForm" class="form-horizontal" ng-submit="vm.save(vm.form.jobForm.$valid)" novalidate>

      <fieldset>

        <div class="col-md-5 pull-left job-styles">
          <div class="form-group" show-errors>
            <label class="control-label" for="job_title">Job Title</label>
            <input name="job_title" type="text" ng-model="vm.job.job_title" id="job_title" class="form-control" placeholder="What is the title for this job?" required>
            <div ng-messages="vm.form.jobForm.job_title.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Job title is required.</p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="job_description">Job Description</label>
            <textarea name="job_description" data-ng-model="vm.job.job_description" id="job_description" class="form-control" cols="30" rows="10" placeholder="This is a good place to paste in the job description"></textarea>
          </div>

          <div class="form-group">
            <label class="control-label" for="job_requirements">Job Requirements</label>
            <textarea name="job_requirements" data-ng-model="vm.job.job_requirements" id="job_requirements" class="form-control" cols="30" rows="10" placeholder="Add the job requirements here, then study up on them before your meeting"></textarea>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="job_rate">Job Rate</label>
            <input name="job_rate" type="text" ng-model="vm.job.job_rate" id="job_rate" class="form-control" placeholder="How much are they paying?">
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="job_location">Job Location</label>
            <input name="job_location" type="text" ng-model="vm.job.job_location" id="job_location" class="form-control" placeholder="Where is the office?">
          </div>

          <div class="form-group">
            <label class="control-label" for="job_notes">Job Notes</label>
            <textarea name="job_notes" data-ng-model="vm.job.job_notes" id="job_notes" class="form-control" cols="30" rows="10" placeholder="This is a good place for questions during an interview"></textarea>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="job_link">Job Link</label>
            <input name="job_link" type="text" ng-model="vm.job.job_link" id="job_link" class="form-control" placeholder="Paste the url of the job posting here">
          </div>
        </div>


        <div class="col-md-5 pull-right job-styles">
          <div class="form-group" show-errors>
            <label class="control-label" for="company">Company</label>
            <input name="company" type="text" ng-model="vm.job.company" id="company" class="form-control" placeholder="What's the name of the company?" required>
            <div ng-messages="vm.form.jobForm.company.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Company name is required.</p>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="company_notes">Company Notes</label>
            <textarea name="company_notes" data-ng-model="vm.job.company_notes" id="company_notes" class="form-control" cols="30" rows="10" placeholder="Put some questions about the comapny here"></textarea>
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="contact_name">Contact Name</label>
            <input name="contact_name" type="text" ng-model="vm.job.contact_name" id="contact_name" class="form-control" placeholder="Who is your main contact?">
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="contact_email">Contact Email</label>
            <input name="contact_email" type="text" ng-model="vm.job.contact_email" id="contact_email" class="form-control" placeholder="Contact Email">
          </div>

          <div class="form-group" show-errors>
            <label class="control-label" for="contact_phone">Contact Phone</label>
            <input name="contact_phone" type="text" ng-model="vm.job.contact_phone" id="contact_phone" class="form-control" placeholder="Contact Phone">
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-raised btn-sm job-submit btn-success">{{vm.job._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>

      </fieldset>
    </form>
  </div>
</section>
